{% extends 'base.html' %} {% block styles %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
  }

  /* Cambiamos las barras superiores a verde */
  .card-header {
    /* background-color: #00b999; */
    background-color: #063a30;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #ff5d3e;
    text-decoration: none;

  }

  .messages-box {
    height: 200px; /* Altura fija para el contenedor de mensajes */
    /* overflow-y: auto; */
    /* background-color: #f5f5f5; /* Fondo para diferenciar */
    background-color: #ff0000; /* Fondo para diferenciar */
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
  }

  .messages-list {
    padding-left: 0;
    margin: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  }

  .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }

  .received {
    background-color: #f1f0f0;
    align-self: flex-start;
  }

  .message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .form-control {
    border-radius: 4px;
    border: 1px solid #01b091;
    box-shadow: none;
  }

  .form-control:focus{
    outline: none;
    box-shadow: 0 0 4px rgba(233,93,65,0.8);
    border-color: #ff5d3e;
  }

  .btn-send {
    border-radius: 0;
    background-color: #01b091;
  }

  .btn-send:hover{
    background-color: #ff5d3e;
  }


  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
{% endblock %} {% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <!-- Barra superior de color verde -->
    <div class="card-header"><b>CORPOMEDICA Chatbot</b></div>
    {% if user.is_authenticated %}
    <div class="card-header d-flex justify-content-between align-items-center">
      <b>Bienvenido, {{user.username|upper}}</b>
      <div>
      <a href='loadedfiles'>Docs</a>
      <spam> - </spam>
      <a href="logout">Logout</a>
        </div>
    </div>
    {% else %}
    <div class="card-header">
      <a style="color: white" href="login">login</a>
      <a style="color: white" href="register">Register</a>
    </div>
    {% endif %}
    
  
  <div class='card-body'>
    <ul class='list-unstyled messages-list'>
      <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hola {{user.username}}, soy tu asistente virtual, en que te puedo ayudar?
            </div>
          </div>
        </li> 
      </ul>
  </div>


  <!-- Formulario de mensaje en la parte inferior -->
  <form class="message-form">
    {% csrf_token %}
    <div class="input-group">
      <input
        type="text"
        class="form-control message-input"
        placeholder="Type your message..."
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
const messagesList = document.querySelector(".messages-list");
const messageForm = document.querySelector(".message-form");
const messageInput = document.querySelector(".message-input");

messageForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
        return;
    }

    // Limpiar los mensajes anteriores antes de agregar el nuevo
    messagesList.innerHTML = "";

    // Añadir el nuevo mensaje enviado por el usuario
    const userMessageItem = document.createElement("li");
    userMessageItem.classList.add("message", "sent");
    userMessageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>{{user.username}}</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(userMessageItem);

    messageInput.value = "";

    // Enviar el mensaje al servidor
    fetch("", {
        method: "POST",
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams({
            csrfmiddlewaretoken: document.querySelector("[name=csrfmiddlewaretoken]").value,
            message: message,
        }),
    })
    .then((response) => response.json())
    .then((data) => {
        // Limpiar los mensajes anteriores (incluyendo el mensaje del usuario)
        messagesList.innerHTML = "";

        // Añadir el mensaje del usuario nuevamente
        const userMessageItemAgain = document.createElement("li");
        userMessageItemAgain.classList.add("message", "sent");
        userMessageItemAgain.innerHTML = `
            <div class="message-text">
                <div class="message-sender">
                    <b>{{user.username}}</b>
                </div>
                <div class="message-content">
                    ${message}
                </div>
            </div>`;
        messagesList.appendChild(userMessageItemAgain);

        // Añadir la respuesta del chatbot
        const chatbotMessageItem = document.createElement("li");
        chatbotMessageItem.classList.add("message", "received");
        chatbotMessageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${data.response}
            </div>
        </div>`;
        messagesList.appendChild(chatbotMessageItem);
    });
});

  </script>
{% endblock %}
