{% extends "base.html" %}
{% load static %}


    {% block title %}Bienvenido al CorpoChat{% endblock %}
    
 
    {% block content%}
    <div class="main-content">
      <div class="welcome-container">
        <h1>Bienvenido al Asistente Virtual de Corpomedica</h1>
        <p>
        En Corpomedica, nos comprometemos a ofrecer soluciones innovadoras para la gestión eficiente de la información. Nuestro asistente virtual impulsado por inteligencia artificial te proporciona acceso rápido y preciso a documentos críticos de la empresa, como fichas técnicas, manuales de usuario y de servicio para nuestros dispositivos y equipos médicos. Además, puedes interactuar directamente con el potente modelo de IA ChatGPT-4, consultando tanto los documentos cargados como realizando preguntas generales con base en su extenso conocimiento.     
        </p>
        <!-- <a href="login" class="btn">Ingresa aquí</a> -->
      </div>
    </div>
    {% endblock %}
